.login-a {
    line-height: 24px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    color: white
}

.recommendation-img {
    width: 250px;
    margin: 0;
}

.recommendation-li {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px 10px 10px;
}

.recommendation-li a {
    color: white;
}

.btn-primary {
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    margin: 20px auto
}