.login-a {
    line-height: 24px;
}

.btn-default {
    border: 2px solid black
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    color: white
}

.recommendation-img {
    width: 250px;
    margin: 0;
}

.recommendation-li {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 20px 10px 10px;
}

.recommendation-li a {
    color: white;
}

.food-background {
    background-image: radial-gradient(circle at right bottom, rgba(54, 124, 192, 0.8) 10%, rgb(0, 0, 0) 70%);
    padding-top: 3rem;
}

.card-style {
    width: 18rem;
    margin: 0 auto;
    background-color: transparent;
}

.card-text {
    color: #fff;
}

.card-body {
    padding: 20px 0 0 0;
}

.card-style {
    border: 0px;
}

.btn-primary {
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    margin: 20px auto
}