body {
    background: rgb(32, 35, 36);
    background: linear-gradient(90deg, rgba(32, 35, 36, 1) 4%, rgba(70, 91, 98, 1) 27%, rgba(12, 74, 96, 1) 50%, rgba(200, 65, 65, 1) 98%);
    min-height: 100vh;
}

.nav-text {
    font-size: 16px;
}

.shopping-icon {
    position: relative;
}

.shopping-quantity {
    position: absolute;
    font-size: 10px;
    top: 2px;
    right: -6px;
    min-width: 8px;
    height: 13px;
    line-height: 13px;
    margin-top: -11px;
    padding: 0 4px;
    font-weight: normal;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    background: #e23442;
    border: 1px solid #911f28;
    border-radius: 11px;
    background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
    background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
    background-image: -o-linear-gradient(top, #e8616c, #dd202f);
    background-image: linear-gradient(to bottom, #e8616c, #dd202f);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
}

.shop-nav {
    background-color: black;
}

.quantity-form {
    width: 80px;
    height: 22px;
}

.p-num {
    width: 170px;
}

.price-display {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price-display li {
    padding: 4px 0px;
}

.quantity-display {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quantity-display li {
    padding: 4px 0px;
}

.decrement,
.increment {
    float: left;
    border: 1px solid #cacbcb;
    font-weight: bold;
    height: 22px;
    line-height: 18px;
    padding: 1px 0;
    width: 20px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    margin-left: -1px;
}

.itxt {
    float: left;
    border: 1px solid #cacbcb;
    font-weight: bold;
    width: 42px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    padding: 1px;
    margin: 0;
    margin-left: -1px;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
}